<!-- use underscore in file name to indicate that this is a partial file -->

<label>Name</label>
<!-- output author's name using the object -->
<input type="text" name="name" value="<%= author.name %>">